#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: wendyfuentes
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCpkpvmB7Wume8V6WWov6Wow19HT46fT/Tawu+plxfmEnH5ZLuVttZTxvd//BSwCKSzdG+uQX1gCTs5eNu0i8B8LNDC3tS5W2+3hKZ3IEUlCT0a0M2NAFDvtSeKvJFv4ygd2lPyK4VBlwdmc7t4PCgsksu38PG2/iETF1goewdIjtrD8CU3pl64YjCYN3FriRyTEwrS758rMneuIk7Ze3l5HyXPx49wVgwr28/9iAQ6+K9ywlkaQ25e7vA7hf+0Od31Ceo5Rly3RLcKrynx4HmkVJfZct/RY8TKLMid4TX5hX/TkAZqEZu4natq4kf2NUAsda1IgZvos69CC5MgYK+7 wendy@wendyfuentes-VirtualMachine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
